.menu{
background-color: greenyellow;
display:flex;
padding: 5px;
justify-content:space-between;
align-items: center;

}



.menu a{
transition-property: all;
transition-timing-function: ease-in-out;
transition-duration: 0.3s;
color:black;
text-decoration: none;
    }
    
.menu a:hover {
background-color: #E9E9E9;
    border-radius: 5px;
    }
    