.menu{
background-color: #92f200;
display:flex;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
justify-content:space-around;
align-items: center;

}



.menu a{
padding: 10px;    
transition-property: all;
transition-timing-function: ease-in-out;
transition-duration: 0.3s;
color:black;
text-decoration: none;
}
    
.menu a:hover {
background-color: #b32821;
border-radius: 5px;
}

.iconoCanasta{
display: inline-block;

}
    