.cargando{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
  margin-top: 200px;
    

}

.cardList{
  display: flex;
  width: auto;
  justify-content: space-around;
  
  
  }